<%- include partials/header.ejs %>



<style>
    /* Make the image fully responsive */
    
    .carousel-inner img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }


  </style>

<body>

<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>

</ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://i.insider.com/51e56f87ecad047d7d000028?width=750&format=jpeg&auto=webp" alt="slide one" width="50" height="50">
    <div class="carousel-caption">
      <h3>Slide One</h3>
      <p>Description slide one</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="images/4.png" alt="slide two" width="50" height="50">
    <div class="carousel-caption">
      <h3>Slide Two</h3>
      <p>Description slide two</p>
    </div>
  </div>
  <div class="carousel-item">
    <img src="images/5.png" alt="slide three" width="250" height="250">
    <div class="carousel-caption">
      <h3>Slide Three</h3>
      <p>Description slide three</p>
    </div>
  </div>
        <div class="carousel-item">
    <img src="images/6d5cc9a7-c7d1-4d31-aae8-f50f81760ee2.webp" alt="slide four" width="250" height="250">
    <div class="carousel-caption">
      <h3>Slide Four</h3>
      <p>Description slide Four</p>
    </div>
  </div>
              <div class="carousel-item">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/88312723186441.5cf284d74d344.png" alt="slide five" width="250" height="250">
    <div class="carousel-caption">
      <h3>Slide Five</h3>
      <p>Description slide Five</p>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>



<%- include partials/footer.ejs %>